<div class="column" *ngIf="state$ | async as state">
    <ng-container *ngIf="settings$ | async as settings">
        <ng-container [ngSwitch]="state">
            <beer-opener *ngSwitchCase="'Default'" (onStart)="onStart()" [settings]="settings"></beer-opener>
            <beer-user-scanning *ngSwitchCase="'Scanning'" (onUserRegistered)="onUserRegistered($event)" [settings]="settings"></beer-user-scanning>
            <beer-drinking  *ngSwitchCase="'Recording'" [user]="currentUser" (onUserCompleted)="onUserCompleted()"></beer-drinking>
        </ng-container>
    </ng-container>

</div>


<!-- <ng-container *ngIf="recording && recording.traces$ | async as data">
        <beer-plot [data]="data"></beer-plot>
    </ng-container>-->