<div class="column">
    <ng-container *ngIf="settings$ | async as settings">
        <beer-webcam (onStreamInit)="onStreamInit($event)"
            [deviceId]="settings.videoInputDevice?.deviceId"></beer-webcam>
        <div><beer-face-expression></beer-face-expression></div>
        <button nz-button id="qr">
            <nz-qrcode nzValue="https://nudopnu.github.io/beer-tasting/register"
                nzLevel="H"></nz-qrcode>
                <div>Teilnehmen</div>
        </button>
        <!-- <beer-qr-reader></beer-qr-reader> -->
        <beer-beer-selection [beers]="beers"></beer-beer-selection>
    </ng-container>

</div>
<div id="buttons">
    <button nz-button>{{isRecording ? "Stop": "Start" }} recording</button>
    <button nz-button class="icon" (click)="setUser()"> <beer-icon [name]="'user-plus'"></beer-icon> </button>
    <button nz-button class="icon" (click)="getRandomBeers()"> <beer-icon [name]="'dice'"></beer-icon> </button>
    <button nz-button class="icon" (click)="openSettings()"> <beer-icon [name]="'cog'"></beer-icon> </button>
</div>
<!-- <ng-container *ngIf="recording && recording.traces$ | async as data">
        <beer-plot [data]="data"></beer-plot>
    </ng-container>-->