/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'appfont';
    src: url('assets/fonts/AlwynNew-LT.otf');
}

html {
    width: 100%;
    font-family: 'appfont', sans-serif;
    color: #231F20;
}

body {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
    overflow: hidden;
    gap: 10px;
}

button {
    font-family: 'appfont', sans-serif;
    background: white;
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-radius: 5px;
    min-width: 100px;
    cursor: pointer;
}

button.icon {
    padding: 0px 7px;
    min-width: 40px;
    color: #898989;
}