<nz-layout>

  <nz-header>
    <div id="logo-container">
      <a href="https://www.hochschule-trier.de/hauptcampus/wirtschaft" target="_blank">
        <img id="logo" src="./assets/images/Logo_Hauptcampus_Wirtschaft.gif" alt="image">
      </a>
    </div>
  </nz-header>

  <nz-layout>

    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light" nzBreakpoint="lg" [nzCollapsedWidth]="0" [nzTrigger]="null">
      <ul nz-menu nzTheme="light" nzMode="inline">

        <li nz-menu-item [nzSelected]="this.isSelected('/')" routerLink="/" routerLinkActive="active">
          <span nz-icon nzType="home" nzTheme="outline"></span>
          <span>Home</span>
        </li>

        <li nz-menu-item [nzSelected]="this.isSelected('/statistics')" routerLink="/statistics" routerLinkActive="active">
          <span nz-icon nzType="line-chart" nzTheme="outline"></span>
          <span>Statistiken</span>
        </li>

        <li nz-menu-item [nzSelected]="this.isSelected('/register')" routerLink="/register" routerLinkActive="active">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
          <span>Registrieren</span>
        </li>

        <li nz-menu-item nzTitle="Settings" #settingsMenuItem (click)="openSettings(settingsMenuItem)">
          <span nz-icon nzType="setting"></span>
          <span>Einstellungen</span>
        </li>

        <li nz-menu-item nzTitle="Export" #exportMenuItem (click)="export(exportMenuItem)">
          <span nz-icon nzType="export"></span>
          <span>Exportieren</span>
        </li>

        <li nz-menu-item nzTitle="Zurücksetzen" #updateMenuItem (click)="update(updateMenuItem)">
          <span nz-icon nzType="sync"></span>
          <span>Zurücksetzen</span>
        </li>
        
      </ul>
    </nz-sider>

    <nz-content>
      <main>
        <div id="content">
          <router-outlet></router-outlet>
        </div>
      </main>
    </nz-content>

  </nz-layout>
</nz-layout>
