main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    margin: 10px;
}

#inner-content {
    width: 100%;
}

#logo-container {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: min(10%, 20px) 0px;
    max-width: 768px;
}

#logo {
    width: 70%;
    max-width: 300px;
    height: auto;
}