<h1>Willkommen!</h1>
<h2>Nach Auswahl ihres Getränks haben Sie ca. 20 Sekunden Zeit für die Verkostung:</h2>
<ng-container *ngIf="drinkingState$ | async as drinkingState">
    <div [ngSwitch]="drinkingState" class="col-center">
        <beer-beer-selection *ngSwitchCase="'Choosing'" [beers]="beers" (onBeerSelect)="onBeerSelect($event)"></beer-beer-selection>
        <beer-countdown *ngSwitchCase="'Preparing'" (onCompleted)="onStartDrinking()"></beer-countdown>
        <beer-countdown *ngSwitchCase="'Drinking'" (onCompleted)="onBeerCompleted()" [startValue]="20"></beer-countdown>
        <beer-webcam [deviceId]="videoDeviceId"></beer-webcam>
        <h2 *ngSwitchCase="'Rating'">Bitte bewerten Sie ihr Getränk:</h2>
        <nz-rate *ngSwitchCase="'Rating'" [(ngModel)]="userRating" [nzTooltips]="RatingTooltips" [nzCharacter]="beerIcon" class="large"></nz-rate>
    </div>
</ng-container>

<ng-template #beerIcon><beer-icon [name]="'beer'" [type]="'solid'" sizing="fill"></beer-icon></ng-template>