<ng-container *ngIf="drinkingState$ | async as drinkingState">

    <h2>{{getInstruction(drinkingState)}}</h2>

    <div [ngSwitch]="drinkingState" class="col-center">

        <ng-container *ngSwitchCase="'Rating'">
            <beer-rating (onRatingCompleted)="onNextBeer($event)" />
        </ng-container>

        <beer-beer-selection *ngSwitchCase="'Choosing'" [beers]="beers"
            (onBeerSelect)="onBeerSelect($event)"></beer-beer-selection>

        <ng-container *ngSwitchCase="'Preparing'">
            <beer-countdown [startValue]="3" (onCompleted)="onStartDrinking()" />
        </ng-container>

        <ng-container *ngSwitchCase="'Drinking'">
            <beer-countdown [startValue]="secondsPerSample" (onCompleted)="onBeerCompleted()" />
        </ng-container>

        <beer-webcam [deviceId]="videoDeviceId" (onStreamInit)="onStreamInit($event)"></beer-webcam>
    </div>
</ng-container>

<beer-plot *ngIf="dataProvider?.plotData$ | async as data" [data]="data"></beer-plot>