#qr-svg {
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#text {
    padding-bottom: 20px;
}

::ng-deep #qr-svg svg {
    width: 100%;
}