<div id="form" *ngIf="!currentUser">
    <div class="label">
        Username:
    </div>
    <input nz-input [placeholder]="userName" [disabled]="true" />
    <div class="label">
        Altersangabe:
    </div>
    <nz-select [(ngModel)]="selectedGeneration" class="select">
        <nz-option *ngFor="let generation of generations" [nzValue]="generation"
            [nzLabel]="getLabel(generation)"></nz-option>
    </nz-select>
    <div class="label">
        Geschlecht:
    </div>
    <nz-select [(ngModel)]="selectedGender" class="select">
        <nz-option *ngFor="let gender of genderTypes" [nzValue]="gender" [nzLabel]="gender"></nz-option>
    </nz-select>
</div>
<div id="qr" [ngStyle]="{'display': !currentUser ? 'none': 'flex'}">
    <div id="svg" #svg></div>
</div>
<div id="buttons">
    <button *ngIf="!currentUser" [disabled]="!selectedGender || !selectedGeneration" (click)="generateQrCode()">QR Code generieren</button>
    <button *ngIf="!!currentUser" (click)="back()">Zurück</button>
</div>
