<ng-container *ngIf="settings$ | async as settings">

    <div class="col-center"><beer-webcam [deviceId]="selectedDevice?.deviceId"></beer-webcam></div>
    <div id="settings">
        <div style="grid-column: 1/2;">Video Source:</div>
        <nz-select style="grid-column: 2/4;" [(ngModel)]="selectedDevice" (ngModelChange)="onVideoInputChange($event)">
            <nz-option *ngFor="let deviceInfo of videoDeviceInfos" [nzValue]="deviceInfo"
                [nzLabel]="deviceInfo.label" />
        </nz-select>
        <ng-container *ngFor="let beer of settings.beers">
            <div>Bier Nr. {{beer.beer + 1}}</div>
            <input nz-input [(ngModel)]="beer.name" [ngClass]="{'out': !beer.isAvailable}" />
            <label nz-checkbox [(ngModel)]="beer.isAvailable"></label>
        </ng-container>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="destroyModal()">Abbrechen</button>
        <button nz-button nzType="primary" (click)="accept(settings)">OK</button>
    </div>
</ng-container>